 /** Define the margins of your page **/
 :root {
     font-family: 'Calibri';
 }

 @page {
     margin: 180px 20px 100px 20px;
 }

 /* @page {
    margin: 0cm 0cm;
} */

 header {
     position: fixed;
     margin-top: 20px;
     top: -182px;
     left: -22px;
     /* right: -20px; */
     width: 94%;
     margin-left: 20px;
     /* height: 3cm; */
     /* height: 100%; */
     /* background-color: yellowgreen; */
     /* position: static;
    top: 0cm;
    left: 0cm;
    right: 0cm;
    height: 3cm; */
     /* width: 100%; */

     /** Extra personal styles **/
     /* color: white; */
     /* text-align: center; */
     /* line-height: 35px; */
     /* margin-bottom: 350px ; */
     /* : 150px ; */
 }

 /* .header{
    background-color: aqua;
    height:100px;
    margin: 20 20 20 20;
} */

 /* .contents{
    margin-top:50px;
} */

 header:last-child {
     display: none;
 }

 header img {
     width: 100%;
     height: 150px;
 }

 footer {
     /* position: fixed;
    bottom: -60px;
    left: 0px;
    right: 0px;
    height: 50px;
    font-size: 20px !important; */
     position: fixed;
     bottom: -1cm;
     left: 20px;
     /* width: 100%;  */
     /* right: 0cm; */
     /* height: 1cm; */
     font-size: 10px;
     /* display: flex !important; */
     /* justify-content: space-around;   */

     /** Extra personal styles **/
     /* color: rgb(0, 0, 0);
    /* text-align: center; */
     /* line-height: 35px;  */
 }



 /* .footer-container{
    display: flex;
    justify-content: space-around;
}

.footer-container > div{
    margin-left: 50px;
} */

 .footer-1 {
     /* float: left;  */
     margin-right: 240px;
     width: 100%;
     /* height: 80%; */
 }

 .footer-2 {
     float: right;
     /* margin-left: 35%; */
     /* width: 100%;  */
     /* height: 80%; */
 }


 @font-face {
     font-family: 'Calibri';
     src: local('Calibri Regular'), local('Calibri-Regular'),
         url('Calibri.woff2') format('woff2'),
         url('Calibri.woff') format('woff'),
         url('Calibri.ttf') format('truetype');
     font-weight: 400;
     font-style: normal;
 }

 @font-face {
     font-family: 'Calibri';
     src: local('Calibri Bold'), local('Calibri-Bold'),
         url('Calibri-Bold.woff2') format('woff2'),
         url('Calibri-Bold.woff') format('woff'),
         url('Calibri-Bold.ttf') format('truetype');
     font-weight: 700;
     font-style: normal;
 }

 @font-face {
     font-family: 'Calibri';
     src: local('Calibri Bold Italic'), local('Calibri-Bold-Italic'),
         url('Calibri-BoldItalic.woff2') format('woff2'),
         url('Calibri-BoldItalic.woff') format('woff'),
         url('Calibri-BoldItalic.ttf') format('truetype');
     font-weight: 700;
     font-style: italic;
 }

 @font-face {
     font-family: 'Calibri';
     src: local('Calibri Italic'), local('Calibri-Italic'),
         url('Calibri-Italic.woff2') format('woff2'),
         url('Calibri-Italic.woff') format('woff'),
         url('Calibri-Italic.ttf') format('truetype');
     font-weight: normal;
     font-style: italic;
 }

 body {
     font-family: Calibri;
     font-size: 12px;
     line-height: 1;
 }

 .page-break {
     page-break-after: always;
 }

 .p2 {
     text-align: left;
     float: right;
     margin-right: 50px;
 }

 /* .container1{
    margin-top: 50px;
} */

 .navbar {
     /* color: white !important; */
     font-size: 14px;
     margin-top: -50px;
     text-align: center;

 }

 #firstTable table {
     margin-top: 25px;
 }

 .first {
     border-left: 1px solid #000;
     border-right: 1px solid #000;
     border-top: none;
     border-bottom: none;
 }

 .firstkiri {
     border-left: 3px solid #000;
     border-right: 1px solid #000;
     border-top: none;
     border-bottom: none;
 }

 .firstkanan {
     border-left: 1px solid #000;
     border-right: 3px solid #000;
     border-top: none;
     border-bottom: none;
 }

 .first1 {
     border-left: 1px solid #000;
     border-right: none;
     border-top: none;
     border-bottom: none;
 }

 .first2 {
     border-left: none;
     border-right: none;
     border-top: none;
     border-bottom: none;
 }

 .warna {
     background-color: #C5C6D0;
     font-weight: bold;
     text-transform: uppercase;
 }

 .sub-judul {
     font-family: Calibri;
     font-weight: bold;
     text-transform: uppercase;
     margin-bottom: -20px;
     tab-size: 4;

 }

 .italic {
     font-family: Calibri;
     font-weight: normal;
     font-style: italic;

 }

 .judul {
     font-family: Calibri;
     font-weight: bold;
     font-style: normal;
     font-size: 14px;
     text-decoration: underline;
     text-align: center;
     padding-bottom: 20px;
 }

 .judul1 {
     font-family: Calibri;
     font-weight: bold;
     font-style: normal;
     font-size: x-large;
     text-decoration: underline;
     text-align: center;
 }

 .tabulasi2 {
     display: inline-block;
     margin-left: 2.1em;
 }

 .tabulasi3 {
     display: inline-block;
     margin-left: 3.1em;
 }

 .tabulasi35 {
     display: inline-block;
     margin-left: 3.5em;
 }

 .tabulasi5 {
     display: inline-block;
     margin-left: 5.5em;
 }

 table td {
     word-break: break-all;
     /* MUST ADD THIS */
     /* vertical-align: top; */
     overflow-wrap: break-word;
 }

 .wrapword {
     white-space: -moz-pre-wrap !important;
     /* Mozilla, since 1999 */
     white-space: -webkit-pre-wrap;
     /* Chrome & Safari */
     white-space: -pre-wrap;
     /* Opera 4-6 */
     white-space: -o-pre-wrap;
     /* Opera 7 */
     white-space: pre-wrap;
     /* CSS3 */
     word-wrap: break-word;
     /* Internet Explorer 5.5+ */
     word-break: break-all;
     white-space: normal;
     font-size: 11px;
 }

 .coba {
     -ms-word-break: break-all;
     word-break: break-all;

     /* Non standard for webkit */
     word-break: break-word;

     -webkit-hyphens: auto;
     -moz-hyphens: auto;
     -ms-hyphens: auto;
     hyphens: auto;
 }


 .uprightTbl * {
     border: none;
     border-collapse: collapse;
     padding: 0;
     margin: 0;
 }

 .noborder {
     border-left: none;
     border-right: none;
     border-top: none;
     border-bottom: none;
 }

 table#rincian {
     border: 0px;
     border-collapse: collapse;
     border-spacing: 0px;
 }

 .tabellkiri {
     padding-left: 4px;
 }

 .tabellkanan {
     padding-right: 4px;
 }

 .tabellkanan1 {
     padding-right: 43px;
 }

 /* ul {
     text-align: justify
 }

 ul::after {
     width: 100%;
     display: inline-block;
     content: ".";
     visibility: hidden
 }

 li {
     display: inline-block
 } */

 ol {
     text-align: justify;
     text-justify: inter-word;
 }

 /* table {
     page-break-inside: auto
 }

 tr {
     page-break-inside: avoid;
     page-break-after: auto
 } */

 @media print {
     .pagebreak {
         page-break-before: always;
     }

     /* page-break-after works, as well */
 }

 .first10 {
     border-left: none;
     border-right: none;
     border-top: 1px solid #000;
     border-bottom: none;
 }

 .tabelkiri {
     border-left: 3px solid black;
     border-right: none;
     border-top: none;
     border-bottom: none;
 }

 .tabelatas {
     border-left: 1px solid black;
     border-right: 1px solid black;
     border-top: 3px solid black;
     border-bottom: 1px solid black;
 }

 .tabelbawah {
     border-left: none;
     border-right: none;
     border-top: none;
     border-bottom: 3px solid black;
 }

 .tabelkanan {
     border-left: none;
     border-right: 3px solid black;
     border-top: none;
     border-bottom: none;
 }

 .tabelataskiri {
     border-left: 3px solid black;
     border-right: 1px solid black;
     border-top: 3px solid black;
     border-bottom: 1px solid black;
 }

 .tabelataskanan {
     border-left: none;
     border-right: 3px solid black;
     border-top: 3px solid black;
     border-bottom: none;
 }

 .tabelbawahkiri {
     border-left: 3px solid black;
     border-right: none;
     border-top: none;
     border-bottom: 3px solid black;
 }

 .tabelbawahkanan {
     border-left: none;
     border-right: 3px solid black;
     border-top: none;
     border-bottom: 3px solid black;
 }

 .tabelnormal {
     border-left: 1px solid black;
     border-right: 1px solid black;
     border-top: 1px solid black;
     border-bottom: 1px solid black;
 }

 .tabelnormalkanan {
     border-left: 1px solid black;
     border-right: 3px solid black;
     border-top: 1px solid black;
     border-bottom: 1px solid black;
 }

 .tabelnormalkiri {
     border-left: 3px solid black;
     border-right: 1px solid black;
     border-top: 1px solid black;
     border-bottom: 1px solid black;
 }

 .tabelkirikanan {
     border-left: 3px solid black;
     border-right: 3px solid black;
     border-top: 1px solid black;
     border-bottom: 1px solid black;
 }

 .tabelnormalkanan1 {
     border-left: none;
     border-right: 3px solid black;
     border-top: 1px solid black;
     border-bottom: 1px solid black;
 }

 .tabelnormalkanan2 {
    border-left: none;
    border-right: 3px solid black;
    border-top: 1px solid black;
    border-bottom: 3px solid black;
}

.justifytb {
    hyphens: auto;
    text-align: justify;
    text-align-last: justify;
  }

.centertb {
    hyphens: auto;
    text-align: center;
    text-align-last: center;
  }

  table.tableSection {
    display: table;
    width: 85%;
    table-layout: fixed;
    word-wrap: break-word;
}
table.tableSection thead, table.tableSection tbody {
    float: left;
    width: 100%;
}
table.tableSection tbody {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100px;
}
table.tableSection tr {
    width: 100%;
    display: table;
    text-align: left;
}
table.tableSection th, table.tableSection td {
    width: 33%;

    word-break: break-all;
}

.kuning {
background-color: #FFF000;
}
